<%= content_for :messages_content do %>

  <%= turbo_stream_from @conversation %>

  <div class="min-w-full">
    <turbo-frame id="messages">  <%# development works w/o this frame but test does not %>
      <%= render @messages %>
    </turbo-frame>
  </div>

<% end %>

<%= render "shared/two_columns" %>