<div class="flex justify-between">
  <h1 class="font-bold text-4xl">Messages</h1>
  <%= link_to "New message", new_conversation_message_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<div id="messages">
  <%= render @messages %>
</div>
