<!-- add some guidance for a new conversation -->

<%= content_for :content do %>
  <div class="">[ Add some guidance for starting a new conversations ]</div>
<% end %>

<%= render "shared/two_columns" %>