<%= content_for :nav_column do %>
  <%= render 'messages/nav_column' %>
<% end %>

<div class="container mx-[2rem] my-[4rem]">
  <h1 class="text-2xl font-semibold tracking-tighter">Assistants</h1>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <%= render @nav_assistants %>
  </div>
</div>
