<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Configure Assistant</h1>

  <%= render "form", assistant: @assistant %>

  <%= button_to "Delete", settings_assistant_path(@assistant), method: :delete, class: "ml-5 mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium", form: { class: "inline-block" } %>
</div>
