<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing assistant</h1>

  <%= render "form", assistant: @assistant %>

  <%= button_to "Destroy this assistant", settings_assistant_path(@assistant), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
</div>
