<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl">Configure Assistant</h1>

  <%= render "form", assistant: @assistant %>

  <%# TODO: Messages are connected to assistants. When an assistant is deleted,
      what should happen to the messages?

      button_to "Delete",
        settings_assistant_path(@assistant),
        method: :delete,
        data: { turbo_confirm: "Are you sure?" },
        form: { class: "inline-block" },
        class: %|
          ml-5 mt-2 py-3 px-5
          bg-white dark:bg-gray-500
          border border-gray-300 dark:border-gray-500
          rounded-lg
          font-medium
        |
  %>
  <%= link_to "Cancel", root_path, class: "float-right inline-block ml-5 py-3" %>
</div>
