<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Configure Assistant</h1>

  <%= render "form", assistant: @assistant %>

  <%= button_to "Delete",
        settings_assistant_path(@assistant),
        method: :delete,
        data: { confirm: "Are you sure?" },
        form: { class: "inline-block" },
        class: %|
          ml-5 mt-2 py-3 px-5
          bg-white dark:bg-gray-500
          border border-gray-300 dark:border-gray-500
          rounded-lg
          font-medium
        | %>
</div>
