<div id="<%= dom_id conversation %>">
  <p class="flex gap-2">
    <strong class="block font-medium mb-1">ID:</strong>
    <%= conversation.id %>
  </p>

  <p class="flex gap-2">
    <strong class="block font-medium mb-1">Assistant:</strong>
    <%= conversation.assistant.name %>
  </p>

  <p class="flex gap-2">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= conversation.title %>
  </p>
</div>
