<div class="h-9 flex mr-6 rounded-lg hover:bg-zinc-400 hover:bg-opacity-20">
  <div class="flex-1 flex mx-1 my-1">
    <div class="flex-1 flex items-center ml-2 text-white text-sm text-opacity-80">
      <%= title %>
    </div>
  </div>
</div>
