<div class="hover:bg-gray-100 cursor-pointer inline-flex px-3 py-2 rounded-xl items-center text-bold">
  <%= conversation.assistant.name %>
  <%= heroicon("chevron-down", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-gray-500' }) %>
</div>
