  <div class="h-10 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 justify-between items-center w-full group cursor-pointer mb-1">
    <div id="profile" class="ml-2 mr-2 w-7 h-7 bg-white rounded-full"></div>
    <div class="flex-1 text-white truncate">
      Some long text that might be too long and needs to be truncated
    </div>
    <div class="<%= defined?(selected) && selected ? 'flex' : 'hidden' %> group-hover:flex gap-2 pl-2">
      <% if !defined?(settings) || settings %>
        <%= heroicon("dots-horizontal", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer' }) %>
      <% end %>

      <% if defined?(selected) && selected %>
        <%= heroicon("pencil-alt", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-gray-400 text-white cursor-pointer' }) %>
      <% else %>
        <%= heroicon("pencil-alt", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer' }) %>
      <% end %>
    </div>
  </div>
