<div class="dropdown">
  <div tabindex="0" role="button" class="hover:bg-gray-100 cursor-pointer inline-flex px-3 py-2 rounded-xl items-center font-medium text-lg">
    <%= conversation.assistant.name %>
    <%= icon "chevron-down", variant: :mini, class: 'text-gray-500 ml-[2px]' %>
  </div>

  <ul tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52">
    <li><a><%= icon "cog-6-tooth", variant: :outline, size: 18 %>Settings</a></li>
    <li><a><%= icon "arrow-up-tray", variant: :outline, size: 18 %>Share</a></li>
  </ul>
</div>
