<div class="h-9 flex flex-1 mr-4 my-1 rounded-lg hover:bg-zinc-400 hover:bg-opacity-20">
  <div class="flex-1 flex flex-row mx-3 my-1">
    <div class="w-7 bg-white rounded-full"></div>
    <div class="flex-1 flex items-center ml-2 text-white text-sm justify-between">
      <%= title %>
      <%= heroicon("pencil-alt", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-white' }) %>
    </div>
  </div>
</div>
