<div class="hover:bg-gray-100 cursor-pointer inline-flex px-3 py-2 rounded-xl items-center font-medium text-lg">
  <%= conversation.assistant.name %>
  <%= icon "chevron-down", variant: :mini, class: 'text-gray-500 ml-[2px]' %>
</div>
