  <div class="h-10 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 justify-between items-center group cursor-pointer mb-1 mr-5">
    <div id="profile" class="ml-2 mr-2 w-7 h-7 bg-white rounded-full"></div>
    <div class="flex-1 text-white truncate">
      <%= title %>
    </div>
    <div class="<%= defined?(selected) && selected ? 'flex' : 'hidden' %> group-hover:flex gap-2 pl-2">
      <% if !defined?(settings) || settings %>
        <div class="inline tooltip tooltip-top hover:tooltip-open" data-tip="More">
          <%= heroicon("dots-horizontal", variant: :solid, options: { class: 'ml-1 h-4 w-4 inline text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer' }) %>
        </div>
      <% end %>

      <div class="inline tooltip tooltip-top hover:tooltip-open" data-tip="New chat">
        <%= heroicon("pencil-alt", variant: :solid, options: { class: "ml-1 h-4 w-4 inline text-gray-400 #{defined?(selected) && selected ? 'text-white' : 'invisible group-hover:visible hover:text-white'}" }) %>
      </div>
    </div>
  </div>
