<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New conversation</h1>

  <%= render partial: "conversations/form", locals: {conversation: @conversation} %>

  <%= link_to "Back to conversations", conversations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
