<div class="flex h-screen">
  <!-- Left Column -->
  <div id="left-column" class="bg-zinc-950 overflow-auto w-72">
    <!-- Content for the left column -->
  </div>

  <!-- Right Column -->
  <div id="right-column" class="flex-1 flex flex-col bg-zinc-700">
    <div class="ml-6 my-4">
      <%= @conversation.assistant.name %>
    </div>

    <div id="inner-right-column" class="w-full md:max-w-none lg:max-w-[750px] xl:max-w-[870px] mx-auto flex-1 flex flex-col">
      <div class="flex-1 overflow-auto ml-6">
        <turbo-frame id="messages" src="<%= conversation_messages_path(@conversation) %>">
          Loading...
        </turbo-frame>
      </div>

      <!-- Fixed Input Area at the bottom, inside the right column -->
      <div class="py-3 border-gray-300">
        <input type="text" class="w-full h-12"/>
      </div>
    </div>
  </div>
</div>
