<%= content_for :messages_content do %>

  <div class="min-w-full">
    <turbo-frame id="messages">
      <%= render @conversation.messages %>
    </turbo-frame>
  </div>

<% end %>

<%= render @conversation %>