<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
   Editing  Language Model <%= @language_model.name %>
  </h1>

  <%= render "form", language_model: @language_model %>

  <%= button_to "Delete",
      settings_language_model_path(@language_model),
      method: :delete,
      data: { turbo_confirm: "Are you sure?" },
      form: { class: "inline-block" },
      class: %|
        ml-5 py-3 px-5
        bg-white dark:bg-gray-500
        border border-gray-300 dark:border-gray-500
        rounded-lg
        font-medium
      |
  %>

  <p class="float-right inline-block ml-5">
    <%= link_to "Cancel", settings_language_models_path, class: "float-right inline-block ml-5 py-3" %>
  </p>
</div>
