<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New Language Model</h1>

  <%= render "form", language_model: @language_model %>

  <%= link_to "Back to language models", settings_language_models_path, class: "float-right inline-block ml-5 py-3" %>
</div>
