<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New Language Model</h1>

  <%= render "form", language_model: @language_model %>

  <%= link_to "Back to language models", settings_language_models_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-indigo-600 hover:text-indigo-900" %>
</div>
