<h1 class="font-bold text-4xl">
  Language Model <%= @language_model.name %>
</h1>

<div class="mt-16">
  <table>
    <tbody>
      <tr>
        <td class="py-2">Description</td>
        <td class="px-4 py-2"><%= n_a_if_blank(@language_model.description) %></td>
      </tr>
      <tr>
        <td class="py-2">Images Supported?</td>
        <td class="px-4 py-2"><%= display_boolean(@language_model.supports_images?) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-16">
  <p>
    <%= link_to "Back to language models list", settings_language_models_path, class: "float-right inline-block ml-5 py-3" %>
  </p>
</div>
