  <%= turbo_frame_tag :language_model_test do %>
    <div data-controller="language-model-test">
      <% if @answer %>
        <div class="text-green-700 font-bold">Tested <%= @answer %></div>
      <% else %>
        <div class="text-red-700 font-bold">Failed</div>
      <% end %>
    </div>
  <% end %>
