<div class='w-full h-screen bg-white flex justify-center items-center flex-col space-y-5'>
  <div><img src="/logo.svg" alt="HostedGPT" width="40" height="40" /></div>
  <h2 class='text-3xl font-semibold text-black/90'>Create your account</h2>
    <%= form_with(model: User.new, method: :post, class: "flex flex-col space-y-4 w-80") do |f| %>
    <%= f.email_field :email, id: "email", autofocus: true, placeholder: "Email address", class: "border border-gray-400 rounded text-black p-3"%>
    <%= f.password_field :password, id: "email", autofocus: true, placeholder: "Password", class: "border border-gray-400 rounded text-black p-3"%>
    <%= f.submit "Continue", class: 'bg-teal-600 hover:bg-teal-700 rounded-sm font-light text-white p-4 px-4 text-center' %>
    <span class='text-sm text-center'>Already have an account? <a href="/login" class='text-teal-600'>Login</a></span>
    <% end %>
</div>
