<div class='w-64 flex flex-col'>
  <div class='relative flex flex-col flex-grow overflow-y-auto bg-black pt-5'>
    <button class='flex space-x-1 p-2 hover:bg-gray-700 mx-2 border border-gray-300 rounded text-white'>
      <%= heroicon "plus" , options: { class: 'h-5 w-5 text-gray-300' } %>
      New Chat
    </button>
    <% @chats.each do |chat| %>
      <div class='mt-5 flex flex-col text-white'>
        <a href="<%= chat_path(chat) %>" class='flex space-x-2 p-2  mx-2 hover:bg-gray-800 rounded text-white items-center'>
          <p><%= chat.name %></p>
        </a>
      </div>
    <% end %>

    <%= render partial: "shared/settings_modal" %>
  </div>
</div>
