<%= form_with(url: chats_path, method: :post, data: { controller: 'image-upload', remote: 'true' }, class: 'border border-gray-300 flex justify-center items-center space-x-2 shadow-md rounded px-2 w-1/2') do |f| %>
  <%= f.file_field :image, data: { image_target: 'file' } %>
  <%= f.text_field :content, data: { image_target: 'content'}, class: 'flex-1 bg-[#343541] text-white p-2 border-0 focus:outline-none' %>
  <button type='submit'>
    <svg width='24' height='24' viewBox='0 0 24 24' fill='none' class='text-black cursor-pointer bg-white rounded dark:text-black'><path d='M7 11L12 6L17 11M12 18V7' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'></path></svg>
  </button>
<% end %>
