    
<div class='absolute bottom-0 inset-x-0 mx-auto px-4 py-6 bg-[#343541]'>
  <%= form_with(url: chats_path, method: :post, data: { remote: "true" }, class: "border border-gray-300 flex justify-center items-center space-x-2 shadow-md rounded px-2") do |f| %>
    <input name="content" class='flex-1 bg-[#343541] text-white p-2 border-0 focus:outline-none' />
    <button type="submit">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-white cursor-pointer bg-white rounded dark:text-black"><path d="M7 11L12 6L17 11M12 18V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    </button>
  <% end %>
</div>
