<% if reply.present? %>
  <div class='w-full flex items-start justify-start'>
    <div class='flex space-x-4 items-start justify-between px-6 py-6'>
      <div class='flex space-x-4 items-start' >
        <div class='bg-white text-center p-2 rounded text-white relative'>
          <img src="/logo.svg" class="max-w-min" alt='Open AI logo' />
        </div>
        <%= turbo_stream_from "#{dom_id(reply)}_content" %>
        <span id="<%= dom_id(reply) %>_content"><%=reply.content if reply.content.present?%></span>
      </div>
    </div>
  </div>
<% end %>
