<div 
  data-controller="settings-modal"
  data-modal="settingsModal"
  data-settings-modal-update-url-value="users/<%=Current.user.id%>"
  class='absolute bottom-0 inset-x-0 border-t border-gray-200/50 mx-2 py-6 px-2'>
  <button
      data-target="openButton"
      data-action="click->settings-modal#openModal"
    class="flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center">
    <%= heroicon "cog" , options: { class: 'h-5 w-5 text-gray-300' } %>
    <p>Settings</p>
  </button>
  <a href="/logout" class='flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center'>
    <%= heroicon "arrow-right-start-on-rectangle" , options: { class: 'h-5 w-5 text-gray-300' } %>
    <p>Logout</p>
  </a>
  <%= render "shared/modal" %>
</div>
