<div class='w-full h-screen flex justify-center items-center flex-col space-y-4'>
  <div class="rounded-md"><img class="rounded-md" src="/logo.svg" alt="HostedGPT" width="40" height="40" /></div>
  <div class='flex flex-col justify-center items-center space-y-2'>
    <p>Welcome to ChatGPT</p>
    <p>Log in with your openAI account to continue</p>
    <div class='flex justify-center items-center space-x-4 my-4'>
      <a href="/login" class='bg-teal-600 hover:bg-teal-700 p-2 rounded-md text-white px-2'>Log in</a>
      <a href="/login" class='bg-teal-600 hover:bg-teal-700 p-2 rounded-md text-white px-2'>Sign up</a>
    </div>
  </div>
</div>
