<div class="h-screen w-full bg-white dark:bg-black flex justify-center items-center">
  <div id="wrap" class="w-4/5 h-4/5 relative flex justify-center items-center" style="background-color: #d1684e" data-controller="home">
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
