<div class='h-screen bg-white text-black flex'>
  <%= render 'shared/chat_sidebar' %>
  <div class='relative flex flex-1 flex-col h-full'>
    <%= render 'shared/chat_messages' %>
    <%= render 'shared/message_input' %>
  </div>
</div>
