<%= turbo_stream_from @chat %>
<div class='h-screen bg-white text-black flex'>
  <%= render 'shared/chat_sidebar' %>
  <div class='relative flex flex-1 flex-col h-full bg-[#343541]'>
    <%= render 'shared/chat_messages', notes: @chat.notes %>
    <%= render 'shared/message_input' %>
  </div>
</div>
