<div class='h-screen bg-white text-black flex'>
  <%= render 'chat_sidebar' %>
  <div class='relative flex flex-1 flex-col h-full'>
    <%= render 'chat_messages' %>
    <%= render 'message_input' %>
  </div>
</div>
