<%= form_with model: [project, project.tasks.new] do |form| %>
  <div class="field is-grouped">
    <div class="control">
      <%= form.text_field :title, placeholder: "Add new task...", class: "input", autofocus: true %>
    </div>

    <div class="control">
      <%= form.submit "Create", class: "button is-info" %>
    </div>
  </div>
<% end %>
