default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
<% if RUBY_PLATFORM =~ /darwin/ %>
  gssencmode: disable
<% end %>

development:
  <<: *default
  database: <%= ENV['HOSTEDGPT_DEV_DB'] || "hostedgpt_development" %>

test:
  <<: *default
  database: <%= ENV['HOSTEDGPT_TEST_DB'] || "hostedgpt_test" %>

production:
  <<: *default
  database: hostedgpt_production
  username: hostedgpt
  password: <%= ENV["HOSTEDGPT_DATABASE_PASSWORD"] %>=