<%
  def default_to(*args)
    if args.length == 1 && args.first.is_a?(Hash)
      value, options = args.first.to_a
    else
      value, options = args
    end
    options = options.to_a.flatten.each_slice(2).to_h # force all cases into a hash

    default = options.dig(:"except_env_#{Rails.env}")
    default ||= case value
    when String, Integer, TrueClass, FalseClass
      value
    when Symbol
      Rails.application.credentials.dig(value)
    when Array
      Rails.application.credentials.dig(*value)
    end
  end
%>

#
# <%= ENV["FEATURE_NAME"] || default_to(false, except_env_test: true) %>
#
# options FEATURES are configured with ENV keys
# options SETTINGS are configured with ENV keys or bin/rails credentials:edit
#
# default_to
#   first parameter is a value or a symbol
#     if it's a symbol the value is obtained from Rails.application.credentials
#   second parameter is optional, it's only used if you need the default to be different for the test environment
#     except_env_test: "some value"
#

shared:
  features:
    registration: <%= ENV["REGISTRATION_FEATURE"] || true %>
    default_llm_keys: <%= ENV["DEFAULT_LLM_KEYS_FEATURE"] || false %>
    cloudflare_storage: <%= ENV["CLOUDFLARE_STORAGE_FEATURE"] || false %>
    google_tools: <%= ENV["GOOGLE_TOOLS_FEATURE"] || false %>
    password_authentication: <%= ENV["PASSWORD_AUTHENTICATION_FEATURE"] || true %>
    google_authentication: <%= ENV["GOOGLE_AUTHENTICATION_FEATURE"] || false %>
    microsoft_graph_authentication: <%= ENV["MICROSOFT_GRAPH_AUTHENTICATION_FEATURE"] || false %>
    http_header_authentication: <%= ENV["HTTP_HEADER_AUTHENTICATION_FEATURE"] || false %>
    voice: <%= ENV["VOICE_FEATURE"] || false %>
    default_to_voice: <%= ENV["DEFAULT_TO_VOICE_FEATURE"] || false %>
    email: <%= ENV["EMAIL_FEATURE"] || default_to(false, except_env_test: true) %>
    password_reset_email: <%= ENV["PASSWORD_RESET_EMAIL_FEATURE"] || default_to(false, except_env_test: true) %>
  settings:
    # Be sure to add these ENV to docker-compose.yml
    app_url_protocol: <%= ENV["APP_URL_PROTOCOL"] || default_to(app_url: :protocol) %>
    app_url_host: <%= ENV["APP_URL_HOST"] || default_to(app_url: :host) %>
    app_url_port: <%= ENV["APP_URL_PORT"] || default_to(app_url: :port) %>
    product_name: <%= ENV["PRODUCT_NAME"] || "HostedGPT" %>
    default_openai_key: <%= ENV["DEFAULT_OPENAI_KEY"] %>
    default_anthropic_key: <%= ENV["DEFAULT_ANTHROPIC_KEY"] %>
    default_groq_key: <%= ENV["DEFAULT_GROQ_KEY"] %>
    cloudflare_account_id: <%= ENV["CLOUDFLARE_ACCOUNT_ID"] || default_to(cloudflare: :account_id) %>
    cloudflare_access_key_id: <%= ENV["CLOUDFLARE_ACCESS_KEY_ID"] || default_to(cloudflare: :access_key_id) %>
    cloudflare_secret_access_key: <%= ENV["CLOUDFLARE_SECRET_ACCESS_KEY"] || default_to(cloudflare: :secret_access_key) %>
    cloudflare_bucket: <%= ENV["CLOUDFLARE_BUCKET"] || default_to(cloudflare: :bucket) %>
    google_auth_client_id: <%= ENV["GOOGLE_AUTH_CLIENT_ID"] || default_to(google: :auth_client_id) || default_to(:google_auth_client_id) %>
    google_auth_client_secret: <%= ENV["GOOGLE_AUTH_CLIENT_SECRET"] || default_to(google: :auth_client_secret) || default_to(:google_auth_client_secret) %>
    microsoft_graph_auth_client_id: <%= ENV["MICROSOFT_GRAPH_AUTH_CLIENT_ID"] || default_to(microsoft_graph: :auth_client_id) %>
    microsoft_graph_auth_client_secret: <%= ENV["MICROSOFT_GRAPH_AUTH_CLIENT_SECRET"] || default_to(microsoft_graph: :auth_client_secret) %>
    microsoft_graph_scope: <%= ENV["MICROSOFT_GRAPH_SCOPE"] || default_to(microsoft_graph: :scope) %>
    http_header_auth_email: <%= ENV["HTTP_HEADER_AUTH_EMAIL"] || "X-WEBAUTH-EMAIL" %>
    http_header_auth_name: <%= ENV["HTTP_HEADER_AUTH_NAME"] || "X-WEBAUTH-NAME" %>
    http_header_auth_uid: <%= ENV["HTTP_HEADER_AUTH_UID"] || "X-WEBAUTH-USER" %>
    email_provider: <%= ENV["EMAIL_PROVIDER"] || default_to(:email_provider, except_env_test: "postmark") %>
    email_from: <%= ENV["EMAIL_FROM"] || default_to(:email_from, except_env_test: "support@example.com") %>
    email_host: <%= ENV["EMAIL_HOST"] || default_to(:email_host, except_env_test: "example.com")  %>
    postmark_server_api_token: <%= ENV["POSTMARK_SERVER_API_TOKEN"] || default_to(:postmark_server_api_token, except_env_test: "test-token") %>
    smtp_address: <%= ENV["SMTP_ADDRESS"] || default_to(:smtp_address) %>
    smtp_port: <%= ENV["SMTP_PORT"] || 587 %>
    smtp_user_name: <%= ENV["SMTP_USER_NAME"] || default_to(:smtp_user_name) %>
    smtp_password: <%= ENV["SMTP_PASSWORD"] || default_to(:smtp_password) %>
    smtp_authentication: <%= ENV["SMTP_AUTHENTICATION"] || "plain" %>
    smtp_enable_starttls_auto: <%= ENV["SMTP_ENABLE_STARTTLS_AUTO"] || true %>
