shared:
  features:
    registration: <%= ENV.fetch("REGISTRATION_FEATURE", true) %>
    default_llm_keys: <%= ENV.fetch("DEFAULT_LLM_KEYS_FEATURE", false) %>
    cloudflare_storage: <%= ENV.fetch("CLOUDFLARE_STORAGE_FEATURE", false) %>
    google_tools: <%= ENV.fetch("GOOGLE_TOOLS_FEATURE", false) %>
    password_authentication: <%= ENV.fetch("PASSWORD_AUTHENTICATION_FEATURE", true) %>
    google_authentication: <%= ENV.fetch("GOOGLE_AUTHENTICATION_FEATURE", false) %>
    http_header_authentication: <%= ENV.fetch("HTTP_HEADER_AUTHENTICATION_FEATURE", false) %>
    voice: <%= ENV.fetch("VOICE_FEATURE", false) %>
    default_to_voice: <%= ENV.fetch("DEFAULT_TO_VOICE_FEATURE", false) %>
    email: <%= ENV.fetch("EMAIL_FEATURE", false) %>
    password_reset_email: <%= ENV.fetch("PASSWORD_RESET_EMAIL_FEATURE", false) %>
  settings:
    # Be sure to add these ENV to docker-compose.yml
    product_name: <%= ENV["PRODUCT_NAME"] || "HostedGPT" %>
    default_openai_key: <%= ENV["DEFAULT_OPENAI_KEY"] %>
    default_anthropic_key: <%= ENV["DEFAULT_ANTHROPIC_KEY"] %>
    default_groq_key: <%= ENV["DEFAULT_GROQ_KEY"] %>
    cloudflare_account_id: <%= ENV["CLOUDFLARE_ACCOUNT_ID"] || Rails.application.credentials.dig(:cloudflare, :account_id) %>
    cloudflare_access_key_id: <%= ENV["CLOUDFLARE_ACCESS_KEY_ID"] || Rails.application.credentials.dig(:cloudflare, :access_key_id) %>
    cloudflare_secret_access_key: <%= ENV["CLOUDFLARE_SECRET_ACCESS_KEY"] || Rails.application.credentials.dig(:cloudflare, :secret_access_key) %>
    cloudflare_bucket: <%= ENV["CLOUDFLARE_BUCKET"] || Rails.application.credentials.dig(:cloudflare, :bucket) %>
    google_auth_client_id: <%= ENV["GOOGLE_AUTH_CLIENT_ID"] || Rails.application.credentials[:google_auth_client_id] %>
    google_auth_client_secret: <%= ENV["GOOGLE_AUTH_CLIENT_SECRET"] || Rails.application.credentials[:google_auth_client_secret] %>
    http_header_auth_email: <%= ENV["HTTP_HEADER_AUTH_EMAIL"] || "X-WEBAUTH-EMAIL" %>
    http_header_auth_name: <%= ENV["HTTP_HEADER_AUTH_NAME"] || "X-WEBAUTH-NAME" %>
    http_header_auth_uid: <%= ENV["HTTP_HEADER_AUTH_UID"] || "X-WEBAUTH-USER" %>
    email_sender: <%= ENV["EMAIL_SENDER"] %>
    email_from: <%= ENV["EMAIL_FROM"] || Rails.application.credentials[:email_from] %>
    email_host: <%= ENV["EMAIL_HOST"] %>
    postmark_server_api_token: <%= ENV["POSTMARK_SERVER_API_TOKEN"] || Rails.application.credentials[:postmark_server_api_token] %>
