<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl">Assistant Memories</h1>
  <p class="pt-3">
    These are the things remembered from all past conversations. All assistants
    share this memory.
  </p>

  <p class="py-3">
    <% if @memories.length == 0 %>
      <span class="font-bold">No memories</span>
    <% else %>
      <%= button_to 'Clear All Memories',
        settings_memories_path,
        form_class: "pb-3",
        class: %|
          inline-block font-bold
          bg-gray-200 dark:bg-gray-900
          border border-gray-400
          rounded-lg py-3 px-5
          cursor-pointer
        |,
        method: :delete,
        data: { turbo_confirm: 'Are you sure?' }
      %>
    <% end %>
  </p>

  <table id="memories" class="w-full table-auto border-b border-gray-300 dark:border-b-0">
    <thead>
      <tr class="bg-gray-200 dark:bg-gray-900">
        <th>Memory</th>
        <th></th>
      </tr>
    </thead>
    <%= render @memories %>
  </table>

</div>
