<div class="bg-white rounded-lg shadow p-3 border-2 border-gray-200 m-1 gap-2">
  <h3 class="text-lg font-medium mb-2"><%= api_service.name %></h3>
  <p class="text-gray-600 mb-4"><%= api_service.url %></p>
  <%= link_to "View", settings_api_service_path(api_service), class: "text-indigo-600 hover:text-indigo-900" %>
  <%= link_to "Edit", edit_settings_api_service_path(api_service), class: "text-indigo-600 hover:text-indigo-900" %>
</div>
