<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl"><%= t('app.settings.api_services.new_title') %></h1>

  <%= render "form", api_service: @api_service %>

  <%= link_to t('app.settings.api_services.back'), settings_api_services_path, class: "float-right inline-block ml-5 py-3" %>
</div>
