@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: transparent;
  --tw-border-opacity: 0;
}

.scrollbar-hide {
  /* IE ad Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

*, ::before, ::after {
  --tooltip-tail: 7px;
  --tooltip-tail-offset: calc(100% + 6px - var(--tooltip-tail));
  --tooltip-offset: calc(100% + 7px + var(--tooltip-tail, 0px));
  --tooltip-color: black;
  --tooltip-text-color: white;
  /* https://unused-css.com/blog/css-outer-glow/ */
}



/* DaisyUI tooltip */

.tooltip-bottom:before {
  padding: 0.4rem 0.7rem;
  box-shadow: 0px 0px 0px 1px #28282A;
  z-index: 99;
}

.tooltip-bottom:after {
  content: url("data:image/svg+xml,%3Csvg width='15' height='7.5' viewBox='0 0 15 7.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,7.5 L7.5,0 L15,7.5' fill='black' stroke='%2328282A' stroke-width='1' stroke-linecap='butt'/%3E%3C/svg%3E");
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  display: block;
  width: 15px;
  height: 7.5px;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  z-index: 100;
}

.tooltip-top:before {
  padding: 0.4rem 0.7rem;
  box-shadow: 0px 0px 0px 1px #28282A;
  z-index: 99;
}

.tooltip-top:after {
  content: url("data:image/svg+xml,%3Csvg width='15' height='7.5' viewBox='0 0 15 7.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,0 L7.5,7.5 L15,0' fill='black' stroke='%2328282A' stroke-width='1' stroke-linecap='butt'/%3E%3Cline x1='0' y1='0' x2='15' y2='0' stroke='black' stroke-width='1'/%3E%3C/svg%3E");
  transform: translateX(-50%);
  top: -25px;
  left: 50%;
  right: auto;
  bottom: auto;
  display: block;
  width: 15px;
  height: 7.5px;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  z-index: 100;
}

.tooltip-right:before {
  padding: 0.4rem 0.7rem;
  box-shadow: 0px 0px 0px 1px #28282A;
  z-index: 99;
}

.tooltip-right:after {
  content: url("data:image/svg+xml,%3Csvg width='7.5' height='15' viewBox='0 0 7.5 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5,0 L0,7.5 L7.5,15' fill='black' stroke='%2328282A' stroke-width='1' stroke-linecap='butt'/%3E%3C/svg%3E");
  transform: translateY(-50%);
  top: 50%;
  left: auto;
  bottom: auto;
  right: -14px;
  display: block;
  width: 7.5px;
  height: 19px;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  z-index: 100;
}

.tooltip-left:before {
  padding: 0.4rem 0.7rem;
  box-shadow: 0px 0px 0px 1px #28282A;
  z-index: 99;
}

.tooltip-left:after {
  content: url("data:image/svg+xml,%3Csvg width='7.5' height='15' viewBox='0 0 7.5 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,0 L7.5,7.5 L0,15' fill='black' stroke='%2328282A' stroke-width='1' stroke-linecap='butt'/%3E%3C/svg%3E");
  transform: translateY(-50%);
  top: 50%;
  right: auto;
  bottom: auto;
  left: -14px;
  display: block;
  width: 7.5px;
  height: 25px;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  z-index: 100;
}

.tooltip.tooltip-open:active:before,
.tooltip:hover:active:before {
  opacity: 0 !important;
  transition-delay: 0ms;
}

.tooltip.tooltip-open:active:after,
.tooltip:hover:active:after {
  opacity: 0 !important;
  transition-delay: 0ms;
}


/* Make clickable elements push inward */

.menu li>:not(ul):not(.menu-title):not(details).active,
.menu li>:not(ul):not(.menu-title):not(details):active,
.menu li>details>summary:active {
  background-color: var(--fallback-bc,oklch(var(--bc)/.1)) !important;
  color: inherit !important;
  @apply scale-98 ease-in-out duration-300
}


.cursor-pointer:active {
  @apply scale-98 ease-in-out duration-300
}

.icon.cursor-pointer:active {
  @apply scale-90 ease-in-out duration-300
}




/* Clean up this CSS — I don't think we need these classes, use tailwind utilities instead */

.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
