@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: transparent;
  --tw-border-opacity: 0;
}

.scrollbar-hide {
  /* IE ad Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

*, ::before, ::after {
  --tooltip-tail: 7px;
  --tooltip-tail-offset: calc(100% + 7px - var(--tooltip-tail));
  --tooltip-offset: calc(100% + 7px + var(--tooltip-tail, 0px));
  /* https://unused-css.com/blog/css-outer-glow/ */
}

.tooltip-bottom:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 0px 3px 4px 0px #eeeeee29;
}

.tooltip-top:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 0px -3px 4px 0px #eeeeee29;
}

.tooltip-right:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 3px 0px 4px 0px #eeeeee29;
}

.tooltip-left:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: -3px 0px 4px 0px #eeeeee29;
}


  /* Add this to center the modal */
  .modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
