@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  visibility: hidden;
  background-color: transparent;
  --tw-border-opacity: 0;
}

.scrollbar-hide {
  /* IE ad Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;
}

*, ::before, ::after {
  --tooltip-tail: 7px;
  --tooltip-tail-offset: calc(100% + 7px - var(--tooltip-tail));
  --tooltip-offset: calc(100% + 7px + var(--tooltip-tail, 0px));
  /* https://unused-css.com/blog/css-outer-glow/ */
}



/* Styling to DaisyUI tooltip */

.tooltip-bottom:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 0px 3px 4px 0px #eeeeee29;
}

.tooltip-top:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 0px -3px 4px 0px #eeeeee29;
}

.tooltip-right:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: 3px 0px 4px 0px #eeeeee29;
}

.tooltip-left:before {
  padding: 0.4rem 0.7rem !important;
  box-shadow: -3px 0px 4px 0px #eeeeee29;
}

.tooltip.tooltip-open:active:before,
.tooltip:hover:active:before {
  opacity: 0 !important;
  transition-delay: 0ms;
}

.tooltip.tooltip-open:active:after,
.tooltip:hover:active:after {
  opacity: 0 !important;
  transition-delay: 0ms;
}


.menu li>:not(ul):not(.menu-title):not(details).active,
.menu li>:not(ul):not(.menu-title):not(details):active,
.menu li>details>summary:active {
  background-color: var(--fallback-bc,oklch(var(--bc)/.1)) !important;
  color: inherit !important;
  @apply scale-98 ease-in-out duration-300
}


.cursor-pointer:active {
  @apply scale-98 ease-in-out duration-300
}

.icon.cursor-pointer:active {
  @apply scale-90 ease-in-out duration-300
}



  /* Add this to center the modal */
  .modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
