@tailwind base;
@tailwind components;
@tailwind utilities;


/* Make clickable elements push inward */

.menu li>:not(ul):not(.menu-title):not(details).active,
.menu li>:not(ul):not(.menu-title):not(details):active,
.menu li>details>summary:active {
  background-color: var(--fallback-bc,oklch(var(--bc)/.1)) !important;
  color: inherit !important;
  @apply scale-98 ease-in-out duration-300
}


.cursor-pointer:active {
  @apply scale-98 ease-in-out duration-300
}

.icon.cursor-pointer:active {
  @apply scale-90 ease-in-out duration-300
}


/* Parent utility classes which activate children */

.relationship .relationship\:flex {
  @apply !flex
}

.relationship .relationship\:visible {
  @apply !visible
}

.relationship .relationship\:text-white {
  @apply !text-white
}