<% content_for :heading, "Reset your password" %>

<%= form_with url: password_credential_path(token: params[:token]), method: :patch, class: "flex flex-col space-y-4 w-80" do |f| %>
  <%= f.label :password, class: "input input-bordered flex items-center justify-between" do %>
    <span>Password <span class="">*</span></span>
    <%= f.password_field :password,
      autofocus: true,
      placeholder: "Password",
      class: "w-44 border-0 dark:text-black",
      data: { action: "focus->transition#toggleClassOn" }
    %>
  <% end %>

  <%= f.submit 'Reset Password',
    class: %|
      text-white font-medium
      bg-brand-blue dark:bg-gray-900
      border border-white dark:border-gray-400
      rounded-lg p-4 text-center
      cursor-pointer
      hover:opacity-95
    |
  %>
<%end%>
