<% item, link = settings_item %>
<% selected = (controller.to_s == controller_name.to_s) %>
<% selected = selected && params[:id] == item.id.to_s  if params[:id] %>

<div class="
            flex justify-between items-center
            mb-1 p-1 pl-2
            bg-black hover:bg-zinc-800
            group cursor-pointer
            text-sm rounded-s-lg
            <%= selected && "bg-white hover:bg-white !cursor-auto" %>
          "
    data-role="assistant"
>
  <%= link_to link,
        class: %|
          flex-1 flex
          items-center
          text-white truncate
          h-7
          #{selected && "!text-black cursor-auto" }
        |,
        data: { role: "name" } do
  %>

    <% if item.is_a?(Assistant) %>
      <div id="profile" class="mr-2 w-7 h-7 bg-zinc-300 rounded-full"></div>
    <% end %>

    <span class="<%= !item.is_a?(Assistant) && "ml-1 text-base" %>">
      <%= item.to_s %>
    </span>

  <% end %>

</div>
