<% item, link = settings_item %>
<% selected = (controller.to_s == controller_name.to_s) %>
<% selected = selected && params[:id] == item.try(:id)&.to_s %>
<div class="
            flex justify-between items-center
            mb-1 p-1 pl-2
            hover:bg-gray-100 dark:hover:bg-gray-700
            group
            text-sm rounded-s-lg
            <%= selected ? "bg-gray-200 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-700 cursor-default" : "cursor-pointer" %>
          "
    data-role="assistant"
>
  <%= link_to link,
        class: %|
          flex-1 flex
          items-center
          truncate
          h-7
          #{selected && "cursor-default" }
        |,
        data: { role: "name" } do
  %>

    <% if item.is_a?(Assistant) %>
      <div id="profile" class="mr-2 w-7 h-7 bg-blue-200 rounded-full"></div>
    <% end %>

    <span class="<%= !item.is_a?(Assistant) && "ml-1 text-base" %>">
      <%= item.to_s %>
    </span>
  <% end %>
</div>
