
<% if flash.any? %>
  <div class="toast toast-top toast-end transition-transform duration-100 ease-in"
        data-controller="transition"
        data-transition-toggle-class="translate-x-full"
        data-transition-target="me"
        data-transition-after-timeout-value="3000"
  >
    <% flash.each do |type, text| %>
      <%
        alert_class = case type
        when "notice"
          "alert-info"
        when "alert"
          "alert-error"
        else
          "alert-info"
        end
      %>
      <div class="alert <%= alert_class %>">
        <span><%= text %></span>
      </div>
    <% end %>
  </div>
<% end %>
