<% if flash.any? %>
  <div id="toasts" class="toast toast-top toast-end transition-transform duration-100 ease-in"
        data-controller="transition"
        data-transition-toggle-class="translate-x-full"
        data-transition-target="transitionable"
        data-transition-after-timeout-value="3000"
  >
    <% flash.each do |type, text| %>
      <%= flash_tag(type, text) %>
    <% end %>
  </div>
<% end %>
