<% content_for :body do %>
  <div  class="flex h-screen"
        data-controller="click-toggle"
        data-click-toggle-flippable-class="!hidden"
  >

    <div  id="left-column"
          class="flex-col h-screen w-[260px] bg-gray-50 dark:bg-gray-900 hidden md:flex overflow-x-clip relative"
          data-click-toggle-target="destination"
    >
      <%= yield :left_column %>
    </div>

    <div id="right-column" class="flex flex-1 h-screen bg-white dark:bg-gray-800">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
