<!DOCTYPE html>
<html>
  <%= render "head" %>
  <body class="font-sans text-gray-950 dark:text-gray-100">
    <main class="flex h-screen bg-white dark:bg-gray-800  w-full">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    <%= render "layouts/toast" %>
  </body>
</html>
